// Colors
$orange: #ffc636;
$dark-blue: #0a0b5b;
$dark-blue-2: #07083e;
$dark-blue-3: #080936;
$dark-blue-4: #14153d;
$light-violet: #9893d8;
$light-violet-2: #9994f7;
$white: #dddbff;
$white-2: #f2f2f2;
$black: rgba(0, 0, 0, 0.2);
$black-2: rgba(0, 0, 0, 0.6);
$black-3: #222;
$grey: rgba(255, 255, 255, 0.05);
