/* Import Partials */
/* scss reset */
@import "reset";
/* variables */
@import "variables";
/* fonts */
@import "fonts";
/* breakpoints */
@import "breakpoints";

/* --- BODY --- */
body {
  background: $dark-blue;
  font-family: "Rubik Regular";
  @include l {
    font-size: 18px;
  }
  @include xl {
    font-size: 20px;
  }
}

/* --- BUTTONS --- */
.button {
  background: none;
  border: 2px solid $orange;
  color: $orange;
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px $black-2;
  display: inline-block;
  font-size: 1em;
  &:hover {
    color: $black-3;
    background: $orange;
  }
}

/* --- GRID --- */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  box-sizing: border-box;
  @include l {
    max-width: 1060px;
    margin: 0 auto;
    width: 100%;
  }
}

/* --- NAV SECTION --- */
.site-nav {
  margin: 0 20px;
  @include l {
    padding: 0 20px;
  }

  h1 {
    grid-column: 1/4;
    padding-bottom: 10px;
    border-bottom: 3px solid $orange;
    display: inline-block;
    @include l {
      grid-column: 1/3;
    }
  }
  ul {
    display: none;
    @include l {
      display: flex;
      grid-column: 6/9;
      justify-content: flex-end;
      align-self: center;
    }
    li {
      @include l {
        margin-left: 20px;
      }
    }
  }
}

/* --- WELCOME SECTION --- */
#welcome {
  padding: 0 20px 20px 20px;
  @include l {
    padding-bottom: 40px;
  }
  @include xl {
    padding: 90px 10px;
  }
  .welcome-text {
    grid-column: 1/6;
    @include m {
      grid-column: 1/5;
    }
    @include l {
      grid-column: 1/5;
      align-self: center;
    }
    .leading {
      @include l {
        margin: 20px 0;
      }
      @include xl {
        margin: 20px 0;
      }
    }
    a {
      margin: 20px 0;
    }
  }
  .welcome-img {
    grid-column: 6/9;
    overflow-x: hidden;
    @include m {
      grid-column: 5/9;
    }
    img {
      width: 200%;
      @include m {
        width: 100%;
      }
    }
  }
}

/* --- PORTFOLIO SECTION --- */
#portfolio {
  background: url(../assets/square_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px 20px;
  @include xl {
    padding: 90px 10px;
  }
  h3 {
    margin-bottom: 0;
    text-align: center;
  }
  .projects {
    margin: 20px 0;
    @include m {
      margin-top: 40px;
    }
    a {
      grid-column: 1/9;
      display: flex;
      margin: 20px 0;
      @include m {
        grid-column: span 4;
        display: block;
        margin: 20px 0;
      }
      * {
        margin: 0 20px;
        max-width: 40%;
        align-self: center;
        @include m {
          margin: 10px;
          max-width: 60%;
          margin: 10px 20%;
        }
        @include l {
          max-width: 80%;
          margin: 30px 10%;
        }
        @include xl {
          max-width: 100%;
          margin: 30px 0%;
        }
      }
      &:nth-child(1) {
        @include l {
          grid-column: 2/4;
        }
        @include xl {
          grid-column: 1/3;
        }
      }
      &:nth-child(2) {
        @include l {
          grid-column: 4/6;
          padding-top: 140px;
        }
        @include xl {
          grid-column: 4/6;
          padding-top: 140px;
        }
      }
      &:nth-child(3) {
        @include m {
          grid-column: 3/7;
        }
        @include l {
          grid-column: 6/8;
        }
        @include xl {
          grid-column: 7/9;
        }
      }
      h4 {
        color: $light-violet-2;
        @include m {
          text-align: center;
        }
      }
    }
  }
}

/* --- SKILLS SECTION --- */
#skills {
  padding: 30px 20px;
  background: $dark-blue-2;
  @include m {
    padding: 30px 100px;
  }
  @include l {
    padding: 30px 20px;
  }
  @include xl {
    padding: 90px 10px;
  }
  h3 {
    text-align: center;
  }
  ul {
    margin: 40px 0;
    @include l {
      margin: 40px auto;
    }
    li {
      padding: 10px;
      background: $black;
      grid-column: span 4;
      text-align: center;
      @include l {
        grid-column: span 2;
      }
    }
    img {
      height: 80px;
      margin: 10px auto;
    }
  }
  p {
    text-align: center;
    margin: 0 20px;
    @include l {
      max-width: 600px;
      margin: 40px auto;
    }
  }
}

/* --- CONTACT SECTION */
#contact {
  padding: 30px 20px;
  background: $dark-blue-3;
  @include xl {
    padding: 90px 10px;
  }
  h3,
  p {
    margin-bottom: 0;
    text-align: center;
  }
  form {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    input {
      width: 100%;
      margin: 10px 0;
      background: $grey;
      padding: 10px 16px;
      border-radius: 20px;
      border: 2px solid $light-violet;
      color: $white-2;
      font-size: 1em;
    }
    textarea {
      width: 100%;
      height: 200px;
      margin: 10px 0;
      background: $grey;
      padding: 10px 16px;
      border-radius: 20px;
      border: 2px solid $light-violet;
      color: $white-2;
      font-size: 1em;
    }
    .button {
      margin-top: 10px;
    }
  }
}

/* --- FOOTER --- */
footer {
  padding: 30px 20px;
  background-color: $dark-blue-4;
  background-image: url(../assets/footer_image.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top center;
  @include m {
    background-size: 20%;
  }
  @include l {
    background-size: 20%;
    padding: 40px 20px;
  }
  @include xl {
    padding: 80px 10px;
    background-size: 30%;
  }
  .copyright {
    grid-column: 1/3;
    font-size: 0.8em;
    @include xl {
      grid-column: 1/4;
    }
  }
  .social {
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
    @include xl {
      grid-column: 6/9;
    }
    li {
      margin: 0 6px;
      img {
        width: 20px;
        @include xl {
          width: 30px;
        }
      }
    }
  }
}
